:root {
  --right-width: 600px;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body,
html {
  margin: 0;
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#__next {
  height: 100%;
}

.EditorContainer {
  width: calc(100% - var(--right-width));
  height: 100%;
}

#controls {
  overflow: scroll;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.PreviewContainer {
  width: var(--right-width);
}

.ExplorationsContainer {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.ExplorationsContainer > div {
  width: 33%;
}

.ExplorationsContainer .iframeContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.ExplorationsContainer iframe {
  transform: scale(30%);
  transform-origin: top left;
}

iframe {
  border: 0;
}

.PromptContainer {
  background-color: white;
  border-top: 1px solid black;
  flex-grow: 1;
}

.PromptContainer textarea {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  border-radius: 0;
  padding: 8px;
  border: 0;
  font-size: 16px;
  resize: none;
  outline: 0;
  height: 100%;
}

.monaco-editor {
  overflow: hidden;
}

.button {
  padding: 8px;
  background: gray;
  color: white;
  border-radius: 4px;
}

#button-row {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#Communing {
  position: fixed;
  top: 0;
  left: 0;
  background: red;
}

.ErrorBox {
  background: rgba(255, 0, 0, 0.3);
  border-radius: 8px;
  border: 1px solid red;
  margin: 16px;
}

.MobileBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 32px;
  font-size: 32px;
  box-sizing: border-box;
  font-family: "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono",
    "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
}

@media only screen and (max-width: 499px) {
  .App {
    display: none;
  }
  .MobileBanner {
    display: flex;
  }
}

@media only screen and (min-width: 500px) {
  .MobileBanner {
    display: none;
  }
}
